body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f8fc;
    color: #333;
    padding: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    color: #007bff;
}


a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

.chart {
    margin: 20px auto;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
    padding: 10px;
}


